{% extends "layout.njk"%}

  {% block head %}
    <title>Sobre - Rocketseat </title>
  {% endblock %}

  {% block content %}
  {% include "header.njk"%}
  <section> 
    <div id="logo">
      <img src="{{sobre.imgLogo}}" alt="">
      <h1>{{ sobre.titulo}}</h1>
      <p>
        {{ sobre.descricao }}
      </p>
      <span></span>
    </div>
    <div id="tecno">
      <h3>Tectinologias Usadas:</h3>
      <ul>
      {% for tec in sobre.tecnologias %}
        <li>{{ tec.nome}}</li>
      {% endfor %}
      </ul>
    </div>
  </section>
  {% include "footer.njk" %}
  {% endblock %}
