{% extends "layout.njk"%}

{% block head%}
  <title>Conteúdo - rocketseat</title>
{% endblock %}
 
{% block content %}
{% include "header.njk"%}
<h1>Cursos oferecidos</h1>
<section class="cards">
  {% for curso in cursos %}
  <div class="card" id="{{curso.id}}">
    <span>
      {{curso.nCurso}}
    </span>
    <div class="logo">
      <img src="{{curso.logoImg}}" alt="imagem do curso {{curso.id}}">
    </div>
    <div class="card_footer">
      <p class="msg">{{curso.msg}}</p>
      <div class="info" id="Starter">
        <p>{{curso.modulo}}</p>
        <p class="valor">{{curso.value}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
  <!-- Modal -->
  <div class="modal_over ">

    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">
          close
        </i>
      </a>
      <a class="ampliar">
        <span class="material-icons">
          crop
        </span>
      </a>
        <iframe src="" frameborder="0">
        </iframe>
    </div>
  </div>

{% include "footer.njk" %}
{% endblock %}

