{% extends "layout.njk" %}

{% block head%}
  <title>Curso - rocketseat</title>
{% endblock %}
 
{% block content %}
{% include "header.njk"%}
<section class="cards-curses">
  <h1>{{curso.id}}</h1>
</section>
{% endblock %}

