{% extends "layout.njk"%}

{% block head%}
  <title>Card - rocketseat</title>
{% endblock %}
 
{% block content %}
{% include "header.njk"%}
<section class="cards-curses">
  <div class="card" id="{{curso.id}}">
    <span>
      {{curso.nCurso}}
    </span>
    <div class="logo">
      <img src="{{curso.logoImg}}" alt="imagem do curso {{curso.id}}">
    </div>
    <div class="card_footer">
      <p class="msg">{{curso.msg}}</p>
      <div class="info" id="Starter">
        <p>{{curso.modulo}}</p>
        <p class="valor">{{curso.value}}</p>
      </div>
    </div>
  </div>
</section>
{% include "footer.njk" %}
{% endblock %}

