{% extends "layout.njk"%}

{% block head %}
  <title>Sobre - Rocketseat </title>
{% endblock %}

{% block content %}
  <form class="card" method="POST" action="/teachers">
      <section class="imagem" ></section>
      <section class="detalhes">
          <h3>Create Registration</h3>
          {% include 'teacher/fields.njk' %}
      </section>
  </form>

{% endblock %}
