{% extends "layout.njk"%}

{% block head %}
  <title>Sobre - Rocketseat </title>
{% endblock %}

{% block content %}
  {% include "header.njk"%}

  <form class="card" method="POST" action="/teachers">
      <section class="imagem" style="background: url({{teacher.avatar_url}}) no-repeat  center center /cover"></section>
      <section class="detalhes">
          <h3>Create Registration</h3>
          {% include 'teacher/fields.njk' %}
      </section>
  </form>

{% endblock %}
