{% extends "layout.njk" %}

{% block head%}
  <title>Curso - rocketseat</title>
{% endblock %}
 
{% block content %}
{% include "header.njk"%}
<section class="cards-curses">
  <iframe src="https://www.rocketseat.com.br/{{ curso.id }}" frameborder="0"></iframe>
</section>
{% endblock %}

