{% extends "layout.njk"%}

{% block head %}
  <title>Sobre - Rocketseat </title>
{% endblock %}

{% block content %}

  <form class="card" method="POST" action="/students">
      <section class="imagem" ></section>
      <section class="detalhes">
          <h3>Novo Estutande</h3>
          {% include 'student/fields.njk' %}
      </section>
  </form>

{% endblock %}
