<div class="pessoal">
    <div class="item">
        <div>Nome</div>
        <input 
            type="text" 
            name="name" 
            value="{{student.name}}"
        >
    </div>
    
    <div class="item">
        <div>Idade</div>
        <input 
            type="date" 
            name="birth"
            value="{{student.birth}}"
        >
    </div>
</div>

<div class="item">
    <div>Imagem</div>
    <input 
        type="url" 
        name="avatar_url"
        placeholder="http://"
        value="{{student.avatar_url}}"
    >
</div>

<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email"
        value="{{student.email}}"
    >
</div>

<div class="item">
    <div>Escolaridade</div>
    <select name="schooling">
        <option 
            value="5º"
        >5º Fundamental</option>
        <option 
            value="6º"
        >6º Fundamental</option>
        <option 
            value="7º"
        >7º Fundamental</option>
        <option 
            value="8º"
        >8º Fundamental</option>
        <option 
            value="1º"
        >1º Ensino Médio</option>
        <option 
            value="2º"
        >2º Ensino Médio</option>
        <option 
            value="3º"
        >3º Ensino Médio</option>

    </select>
</div>

<div class="item">
    <div>Carga Horas</div>
    <input 
        type="number" 
        name="hours"
        value="{{student.hours}}"
    >
</div>


<div class="item">
    <button type="submit">Salvar</button>
</div>