<div class="pessoal">
    <div class="item">
        <div>Nome</div>
        <input 
            type="text" 
            name="name" 
            value="{{student.name}}"
        >
    </div>
    
    <div class="item">
        <div>Idade</div>
        <input 
            type="date" 
            name="birth"
            value="{{student.birth}}"
        >
    </div>
</div>

<div class="item">
    <div>Imagem</div>
    <input 
        type="url" 
        name="avatar_url"
        placeholder="http://"
        value="{{student.avatar_url}}"
    >
</div>

<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email"
        value="{{student.email}}"
    >
</div>

<div class="item">
    <div>Escolaridade</div>
    <select name="schooling">
        <option 
            value="5EF"
            {% if student.schooling == "5EF" %} selected {% endif %} 
        >5º Fundamental</option>
        <option 
            value="6EF"
            {% if student.schooling == "6EF" %} selected {% endif %}
        >6º Fundamental</option>
        <option 
            value="7EF"
            {% if student.schooling == "7EF" %} selected {% endif %}
        >7º Fundamental</option>
        <option 
            value="8EF"
            {% if student.schooling == "8EF" %} selected {% endif %}
        >8º Fundamental</option>
        <option 
            value="1EM"
            {% if student.schooling == "1EM" %} selected {% endif %}
        >1º Ensino Médio</option>
        <option 
            value="2EM"
            {% if student.schooling == "2EM" %} selected {% endif %}
        >2º Ensino Médio</option>
        <option 
            value="3EM"
            {% if student.schooling == "3EM" %} selected {% endif %}
        >3º Ensino Médio</option>

    </select>
</div>

<div class="item">
    <div>Carga Horas</div>
    <input 
        type="number" 
        name="hours"
        value="{{student.hours}}"
    >
</div>


<div class="item">
    <button type="submit">Salvar</button>
</div>